#include <windows.h>
#include "res.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1, 7, 8, 0
 PRODUCTVERSION 1, 7, 8, 0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
   BLOCK "040904E4"
   BEGIN
    VALUE "FileDescription", "SNANDer - Serial Nor/nAND/Eeprom programmeR\0"
    VALUE "OriginalFilename", "SNANDer.exe\0"
    VALUE "CompanyName", "-= (c) 2018-2022 Igor Mokrushin aka McMCC =-\0"
    VALUE "FileVersion", "1.7.8.0\0"
    VALUE "InternalName", "SNANDer\0"
    VALUE "LegalCopyright", "Copyright (c) 2018-2022 by McMCC <mcmcc@mail.ru>\0"
    VALUE "ProductName","SNANDer\0"
    VALUE "ProductVersion","1.7.8.0\0"
   END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x0409, 1252
 END
END

snander ICON DISCARDABLE "snander.ico"
