[Desktop Entry]
Version=1.0
Type=Application
Name=IMSProg
Icon=/opt/IMSProg/write64.png
Exec=/opt/IMSProg/IMSProg
Path=/opt/IMSProg/
NoDisplay=false
Categories=Electronics;Development;
StartupNotify=true
Terminal=false
Comment=i2C,SPI,MW programmer for CH341a devices
Comment[en]=i2c,SPI,MW chips programmer for CH341a devices
Comment[ru]=Программатор i2c,SPI,MW микросхем для CH341a
Comment[es]=Programador de chips i2c, SPI, MW para dispositivos CH341a
Comment[de]=i2c,SPI,MW Chips Programmierer für CH341a Geräte
GenericName=i2c,SPI,MW chips programmer for CH341a devices
GenericName[en]=i2c,SPI,MW chips programmer for CH341a devices
GenericName[ru]=Программатор i2c,SPI,MW микросхем для CH341a
GenericName[es]=Programador de chips i2c, SPI, MW para dispositivos CH341a
GenericName[de]=i2c,SPI,MW Chips Programmierer für CH341a Geräte
