[Desktop Entry]
Version=1.0
Type=Application
Name=IMSProg_updater
Icon=/usr/share/pixmaps/IMSProg_database_update.png
Exec=/usr/bin/IMSProg_database_update
Path=/usr/bin/
NoDisplay=false
Categories=Electronics;Development;
StartupNotify=true
Terminal=false
Comment=Updating the chip database for IMSProg
Comment[en]=Updating the chip database for IMSProg
Comment[ru]=Обновление базы данных микросхем для IMSProg
Comment[es]=Actualización de la base de datos de chips para IMSProg
Comment[de]=Die Aktualisierung der Chipdatenbank für IMSProg
Comment[uk]=Оновлення бази даних мікросхеми для IMSProg
Comment[pt]=Atualização do banco de dados de chips para IMSProg
Comment[hu]=A chip adatbázis frissítése az IMSProg számára
GenericName=i2c,SPI,MW chips programmer for CH341a devices
GenericName[en]=i2c,SPI,MW chips programmer for CH341a devices
GenericName[ru]=Обновление базы данных микросхем для IMSProg
GenericName[es]=Actualización de la base de datos de chips para IMSProg
GenericName[de]=Die Aktualisierung der Chipdatenbank für IMSProg
GenericName[uk]=Оновлення бази даних мікросхеми для IMSProg
GenericName[pt]=Atualização do banco de dados de chips para IMSProg
GenericName[hu]=A chip adatbázis frissítése az IMSProg számára
