[Desktop Entry]
Version=1.0
Type=Application
Name=IMSProg_updater
Icon=/usr/share/pixmaps/IMSProg_database_update.png
Exec=/usr/bin/IMSProg_database_update
Path=/usr/bin/
NoDisplay=false
Categories=Electronics;Development;
StartupNotify=true
Terminal=false
Comment=Updating the chip database for IMSProg
Comment[en]=Updating the chip database for IMSProg
Comment[ru]=Обновление базы данных микросхем для IMSProg
Comment[es]=Actualización de la base de datos de chips para IMSProg
Comment[de]=Die Aktualisierung der Chipdatenbank für IMSProg
Comment[uk]=Оновлення бази даних мікросхеми для IMSProg
Comment[pt]=Atualização do banco de dados de chips para IMSProg
Comment[hu]=A chip adatbázis frissítése az IMSProg számára
Comment[it]=Aggiornamento del database dei chip per IMSProg
Comment[zh]=更新 IMSProg 芯片数据库
GenericName=i2c,SPI,MW chips programmer for CH341a devices
GenericName[en]=i2c,SPI,MW chips programmer for CH341a devices
GenericName[ru]=Обновление базы данных микросхем для IMSProg
GenericName[es]=Actualización de la base de datos de chips para IMSProg
GenericName[de]=Die Aktualisierung der Chipdatenbank für IMSProg
GenericName[uk]=Оновлення бази даних мікросхеми для IMSProg
GenericName[pt]=Atualização do banco de dados de chips para IMSProg
GenericName[hu]=A chip adatbázis frissítése az IMSProg számára
GenericName[it]=Aggiornamento del database dei chip per IMSProg
GenericName[zh]=I2C、SPI、MicroWire EEPROM/Flash 芯片 CH341A 编程器
Keywords=Microcircuit;Microchip;IC;Integrated circuit
Keywords[en]=Microcircuit;Microchip;IC;Integrated circuit
Keywords[ru]=Микросхема;Микрочип;ИС;Интегральная схема;chip
Keywords[es]=Microcircuito;Microchip;CI;Circuito integrado
Keywords[de]=Mikroschaltkreis;Mikrochip;IC;Integrierte Schaltung
Keywords[uk]=Мікросхема;Інтегральна схема;chip
Keywords[pt]=Microcircuito;Microchip;IC;Circuito integrado
Keywords[hu]=Mikroáramkör;Mikrochip;IC;Integrált áramkör;Integrált áramkör
Keywords[it]=Microcircuito;Microchip;IC;Circuito integrato
Keywords[zh]=微电路;微芯片;集成电路;基本输入输出系统;IC;BIOS;EEPROM;MicroWireKeywords[zh]=微电路;微芯片;集成电路;基本输入输出系统;IC;BIOS;EEPROM;MicroWire
