[Desktop Entry]
Version=1.0
Type=Application
Name=IMSProg
Icon=/usr/share/pixmaps/IMSProg64.png
Exec=/usr/bin/IMSProg
Path=/usr/bin/
NoDisplay=false
Categories=Electronics;Development;
StartupNotify=true
Terminal=false
Comment=i2C,SPI,MW programmer for CH341a devices
Comment[en]=i2c,SPI,MW chips programmer for CH341a devices
Comment[ru]=Программатор i2c,SPI,MW микросхем для CH341a
Comment[es]=Programador de chips i2c, SPI, MW para dispositivos CH341a
Comment[de]=i2c,SPI,MW Chips Programmierer für CH341a Geräte
Comment[uk]=Программатор i2c,SPI,MW мікросхема для CH341a
Comment[pt]=Programador de chips i2c, SPI, MW para dispositivos CH341a
Comment[hu]=i2c,SPI,MW chipek programozója CH341a eszközökhöz
Comment[it]=Programmatore di chip i2c, SPI, MW per dispositivi CH341a
Comment[zh]=I2C、SPI、MicroWire EEPROM/Flash 芯片 CH341A 编程器
GenericName=i2c,SPI,MW chips programmer for CH341a devices
GenericName[en]=i2c,SPI,MW chips programmer for CH341a devices
GenericName[ru]=Программатор i2c,SPI,MW микросхем для CH341a
GenericName[es]=Programador de chips i2c, SPI, MW para dispositivos CH341a
GenericName[de]=i2c,SPI,MW Chips Programmierer für CH341a Geräte
GenericName[uk]=Программатор i2c,SPI,MW мікросхема для CH341a
GenericName[pt]=Programador de chips i2c, SPI, MW para dispositivos CH341a
GenericName[hu]=i2c,SPI,MW chipek programozója CH341a eszközökhöz
GenericName[it]=Programmatore di chip i2c, SPI, MW per dispositivi CH341a
GenericName[zh]=I2C、SPI、MicroWire EEPROM/Flash 芯片 CH341A 编程器
Keywords=Microcircuit;Microchip;IC;Integrated circuit;BIOS;EEPROM;MicroWire
Keywords[en]=Microcircuit;Microchip;IC;Integrated circuit;BIOS;EEPROM;MicroWire
Keywords[ru]=Микросхема;Микрочип;ИС;Интегральная схема;chip;BIOS;EEPROM;MicroWire
Keywords[es]=Microcircuito;Microchip;CI;Circuito integrado;BIOS;EEPROM;MicroWire
Keywords[de]=Mikroschaltkreis;Mikrochip;IC;Integrierte Schaltung;BIOS;EEPROM;MicroWire
Keywords[uk]=Мікросхема;Інтегральна схема;chip;BIOS;EEPROM;MicroWire
Keywords[pt]=Microcircuito;Microchip;IC;Circuito integrado;BIOS;EEPROM;MicroWire
Keywords[hu]=Mikroáramkör;Mikrochip;IC;Integrált áramkör;Integrált áramkör;BIOS;EEPROM;MicroWire
Keywords[it]=Microcircuito;Microchip;IC;Circuito integrato;BIOS;EEPROM;MicroWire
Keywords[zh]=微电路;微芯片;集成电路;基本输入输出系统;IC;BIOS;EEPROM;MicroWire
