[Desktop Entry]
Version=1.0
Type=Application
Name=IMSProg_editor 
Exec=/usr/bin/IMSProg_editor
Icon=/usr/share/pixmaps/chipEdit64.png
Path=/usr/bin/
Terminal=false
Categories=Electronics;Development;
StartupNotify=false
Comment=Chip editor database for IMSProg
Comment[en]=Chip database editor for IMSProg
Comment[ru]=Редактор базы микросхем для IMSProg
Comment[es]=Editor de bases de datos de chips para IMSProg
Comment[de]=Chipdatenbank-Editor für IMSProg
Comment[uk]=Редактор бази мікросхем для IMSProg
Comment[pt]=Editor do banco de dados de chips para IMSProg
Comment[hu]=Chipszerkesztő adatbázis az IMSProg számára
Comment[it]=Editor di database di chip per IMSProg
GenericName=Chip database editor for IMSProg
GenericName[en]=Chip database editor for IMSProg
GenericName[ru]=Редактор базы микросхем для IMSProg
GenericName[es]=Editor de bases de datos de chips para IMSProg
GenericName[de]=Chipdatenbank-Editor für IMSProg
GenericName[uk]=Редактор бази мікросхем для IMSProg
GenericName[pt]=Editor do banco de dados de chips para IMSProg
GenericName[hu]=Chipszerkesztő adatbázis az IMSProg számára
GenericName[it]=Editor di database di chip per IMSProg
Keywords=Microcircuit;Microchip;IC;Integrated circuit
Keywords[en]=Microcircuit;Microchip;IC;Integrated circuit
Keywords[ru]=Микросхема;Микрочип;ИС;Интегральная схема;chip
Keywords[es]=Microcircuito;Microchip;CI;Circuito integrado
Keywords[de]=Mikroschaltkreis;Mikrochip;IC;Integrierte Schaltung
Keywords[uk]=Мікросхема;Інтегральна схема;chip
Keywords[pt]=Microcircuito;Microchip;IC;Circuito integrado
Keywords[hu]=Mikroáramkör;Mikrochip;IC;Integrált áramkör;Integrált áramkör
Keywords[it]=Microcircuito;Microchip;IC;Circuito integrato
