[Desktop Entry]
Version=1.0
Type=Application
Name=EZPedit
Comment=Chip Database Deitor 
Exec=/opt/IMSProg/IMSProg
Icon=/opt/IMSProg/write64.png
Path=/opt/IMSProg
Terminal=false
Encoding=UTF-8
Categories=Electronics;Development;
StartupNotify=false
