[Desktop Entry]
Version=1.0
Type=Application
Name=IMSProg_editor
Comment=Chip Database Deitor 
Exec=/opt/IMSProg/IMSProg_editor
Icon=/opt/IMSProg/chipEdit64.png
Path=/opt/IMSProg
Terminal=false
Encoding=UTF-8
Categories=Electronics;Development;
StartupNotify=false
Comment=Chip editor database for IMSProg
Comment[en]=Chip editor database for IMSProg
Comment[ru]=Редактор базы микросхем для IMSProg
GenericName=Chip editor database for IMSProg
