Source: imsprog
Section: devel
Maintainer: Mikhail Medvedev <e-ink-reader@yandex.ru>
Build-Depends:
 cmake,
 debhelper-compat (= 13),
 architecture-is-little-endian,
 libusb-1.0-0-dev,
 pkgconf,
 qt6-base-dev,
 qt6-tools-dev,
 linguist-qt6,
 qt6-l10n-tools,
 qt6-base-dev-tools,
 qt6-tools-dev-tools,
 systemd-dev (>= 253-2~) | udev (<< 253-2~)
Standards-Version: 4.7.4
Homepage: https://github.com/bigbigmdm/IMSProg
Vcs-Git: https://github.com/bigbigmdm/IMSProg.git -b debian/latest
Vcs-Browser: https://github.com/bigbigmdm/IMSProg/tree/debian/latest

Package: imsprog
Architecture: any-amd64 any-arm64 any-armel any-armhf any-i386 any-mips64el any-mipsel any-riscv64 any-ppc64el
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Linux chip programmer for CH341A/CH347T devices
 Linux IMSProg - I2C, SPI and MicroWire chip programmer for CH341/CH347 devices.
 The IMSProg is a free EEPROM programmer tool for CH341A device based on
 QHexEdit2 and modified SNANDer programmer.
